debugpy==1.6.7
fastapi==0.88.0
fastjsonschema==2.16.3
joblib==1.2.0
json5==0.9.14
numpy==1.23.0
pandas==1.5.0
pydantic==1.10.12
scikit-learn==1.2.2
shap==0.44.0
torch==2.1.0
uvicorn==0.23.1
xgboost==2.0.3
matplotlib==3.9.2